body {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	text-align: center;
	background-size: cover;
	overflow: hidden;
}

@keyframes lightDarkCycle {
	0% {
		filter: brightness(1);
	}

	50% {
		filter: brightness(0.7);
	}

	100% {
		filter: brightness(1);
	}
}

.header {
	color: white;
	font-weight: bold;
	background: linear-gradient(to bottom, black, transparent);
	width: 100%;
	text-align: right;
	animation: lightDarkCycle 10s infinite alternate ease-in-out;
	height: 17rem;
}

.header-right {
	margin-right: 1rem;
}

.footer {
	z-index: 1;
	position: fixed;
	background: linear-gradient(to top, rgb(0, 0, 0), transparent);
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.profile-pic {
	height: 8em;
	border-radius: 50%;
	float: left;
	margin: 1rem;
}

.social-links {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	margin-top: 1rem;
}

.social-links li {
	display: inline-block;
}

.social-links a {
	color: rgb(148, 98, 34); 
	text-decoration: none;
	font-size: 1.5rem;
	transition: transform 0.2s ease, color 0.3s ease;
}

.social-links a:hover {
	color: orange;
}

.social-links li:nth-child(1) a i,
.social-links li:nth-child(2) a i,
.social-links li:nth-child(7) a i,
.social-links li:nth-child(8) a i {
	font-size: 1.2rem;
}

.social-links li:nth-child(3) a i {
	font-size: 1.6rem;
}

.social-links li:nth-child(4) a i,
.social-links li:nth-child(5) a i {
	font-size: 2rem;
}

.social-links li:nth-child(6) a i {
	font-size: 1.6rem;
}

.cta-button {
    display: inline-block;
    background: #181818;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: monospace;
    transition: all 0.2s ease;
    position: fixed;
    bottom: 150px;
    width: 100px;
    opacity: 0.9;
	left: calc(50% - 75px);
}

.cta-button:hover {
    background: #333;
    box-shadow: 1px 2px 0px #666, 2px 4px 10px rgba(0, 0, 0, 0.5);
    transform: perspective(200px) rotateX(5deg);
}

.cta-button:active {
    box-shadow: 0px 0px 0px #666, 1px 2px 5px rgba(0, 0, 0, 0.5);
    transform: perspective(200px) rotateX(2deg);
}

.header a {
	color: #ffffff;
    text-decoration: none;
}

.header, .email {
    font-weight: bold;
    text-shadow: 0px 0px 6px #000000;
}
/*
.email {
	padding: 5px;
	border-top: 1px solid #ffffff;
}*/

.email {
    color: white; /* O usa #f8f8f8 para un tono más suave */
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    border-radius: 5px;
}


#slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#slideshow img {
    position: absolute;
    width: 120%;  /* Se agranda para evitar bordes vacíos */
    height: 100%;
    object-fit: cover;
    left: -10%; /* Posición inicial a la izquierda */
    opacity: 0;
    transform: translateX(0);
    transition: opacity 1.5s ease-in-out, transform 10s linear;
}

/* Imagen activa */
#slideshow img.active {
    opacity: 1;
    transform: translateX(5%); /* Movimiento hacia la derecha */
}

/* Imagen saliente */
#slideshow img.exit {
    opacity: 0;
    transform: translateX(-5%); /* Se mueve hacia la izquierda */
}
