body {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	text-align: center;
	background: url('background.png') no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
}

@keyframes lightDarkCycle {
	0% {
		filter: brightness(1);
	}

	50% {
		filter: brightness(0.7);
	}

	100% {
		filter: brightness(1);
	}
}

.header {
	color: white;
	font-weight: bold;
	background: linear-gradient(to bottom, black, transparent);
	width: 100%;
	text-align: right;
	animation: lightDarkCycle 10s infinite alternate ease-in-out;
}
.header img, .header p, .header h1, .header a {
	margin: 1rem;
}
.footer {
	z-index: 1;
	position: fixed;
	background: linear-gradient(to top, rgb(0, 0, 0), transparent);
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.profile-pic {
	width: 8em;
	height: 8em;
	border-radius: 50%;
	opacity: 0.9;
	float: left;
	margin: 1rem;
}

.social-links {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	margin-top: 1rem;
}

.social-links li {
	display: inline-block;
}

.social-links a {
	color: rgb(148, 98, 34); 
	text-decoration: none;
	font-size: 1.5rem;
	transition: transform 0.2s ease, color 0.3s ease;
}

.social-links a:hover {
	color: orange;
}

.social-links li:nth-child(1) a i,
.social-links li:nth-child(2) a i,
.social-links li:nth-child(7) a i,
.social-links li:nth-child(8) a i {
	font-size: 1.2rem;
}

.social-links li:nth-child(3) a i {
	font-size: 2rem;
}

.social-links li:nth-child(4) a i,
.social-links li:nth-child(5) a i {
	font-size: 2.8rem;
}

.social-links li:nth-child(6) a i {
	font-size: 2rem;
}

.cta-button {
	display: inline-block;
	background: black;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1rem;
	transition: background 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
	background: #333;
	transform: scale(1.05);
}

.email {
	color: rgb(255, 255, 255); 
	text-decoration: none;
	font-weight: bold	;
}